@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-claro-red: #da291c;
  --color-claro-dark: #a61d15;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
